@import "tailwindcss";


body {
    font-family: 'Jost', sans-serif;
}

:root {
    --primary-color: #DB4444;
}

.theme-color {
    background-color: var(--primary-color);
}

.nav-icon,
.child-color {
    color: var(--primary-color);
}

.src-btn {
    background-color: var(--primary-color);
}

.icon-img {
    color: var(--primary-color);
}