@import "tailwindcss";


body {
    font-family: 'Jost', sans-serif;
}

:root {
    --primary-color: #DB4444;
    --category-color: #00FF66;
}

.sub-cate {
    color: var(--category-color);
}

.buy-color {
    background-color: var(--category-color);
}

.theme-color,
.sell-color,
.subscribe-btn {
    background-color: var(--primary-color);
}

.nav-icon,
.child-color,
.new-price {
    color: var(--primary-color);
}

.src-btn {
    background-color: var(--primary-color);
}

.icon-img {
    color: var(--primary-color);
}



.category-hover:hover {
    background-color: var(--primary-color);
    color: white;
    transition: 0.2s ease-in-out;

}



.category-hover:hover .cate-icon {
    color: white;
    transition: 0.2s ease-in-out;

    /* transform: scale(1.1); */
    /* Slight scaling effect for better UX */
}





/* footer section     */

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
}

@media only screen and (max-width: 1200px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
}